/* ==========================
Gallery Banner
========================== */

.gallery-banner{
    position:relative;
    height:300px;
   
    overflow:hidden;
    margin:0 auto 70px;
}

.gallery-banner img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.gallery-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}

.gallery-banner-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:#fff;
    z-index:2;
}

.gallery-banner-content h1{
    font-size:52px;
    font-weight:700;
    margin-bottom:14px;
}

.gallery-banner-content p{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    font-size:16px;
}

.gallery-banner-content svg{
    font-size:12px;
}

/* ==========================
Gallery Section
========================== */

.gallery-page{
    padding-bottom:90px;
}

.gallery-page .container{
    max-width:1200px;
    margin:auto;
}

/* ==========================
Filter Buttons
========================== */

.gallery-filter{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:45px;
    flex-wrap:wrap;
}

.gallery-filter button{

    border:none;
    background:#f3f5f6;

    color:#444;

    padding:13px 26px;

    border-radius:50px;

    cursor:pointer;

    font-size:15px;

    font-weight:500;

    transition:.35s;
}

.gallery-filter button:hover{
    background:#F5821F;
    color:white;
}

.gallery-filter .active{
    background:#F5821F;
    color:#fff;
}

/* ==========================
Gallery Grid
========================== */

.gallery-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:22px;

}

.gallery-card{

    position:relative;

    overflow:hidden;

    border-radius:18px;

    cursor:pointer;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

}

.gallery-card img{

    width:100%;

    height:250px;

    object-fit:cover;

    transition:.5s;

}

/* ==========================
Hover
========================== */

.gallery-hover{

    position:absolute;

    inset:0;

    background:rgba(80, 46, 20, 0.65);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    transition:.35s;

}

.gallery-hover span{

    color:white;
     padding: 0 23px;
    font-size:22px;

    font-weight:100;

    transform:translateY(20px);

    transition:.35s;

}

.gallery-card:hover img{

    transform:scale(1.08);

}

.gallery-card:hover .gallery-hover{

    opacity:1;

}

.gallery-card:hover .gallery-hover span{

    transform:translateY(0);

}

/* ==========================
Responsive
========================== */

@media(max-width:992px){

.gallery-grid{
    grid-template-columns:repeat(2,1fr);
}

.gallery-banner{
    height:220px;
}

.gallery-banner-content h1{
    font-size:42px;
}

}

@media(max-width:768px){

.gallery-grid{
    grid-template-columns:1fr;
}

.gallery-banner{
    height:190px;
}

.gallery-banner-content h1{
    font-size:34px;
}

.gallery-filter{
    justify-content:flex-start;
    overflow-x:auto;
    padding-bottom:10px;
}

.gallery-filter::-webkit-scrollbar{
    display:none;
}

.gallery-filter button{
    white-space:nowrap;
}

}

@media(max-width:576px){

.gallery-banner{
    margin:20px auto 50px;
    border-radius:12px;
}

.gallery-banner-content h1{
    font-size:28px;
}

.gallery-banner-content p{
    font-size:14px;
}

.gallery-card img{
    height:220px;
}

}