.cta-section{
    padding:110px 0;
}

.cta-box{

    background:#fff6e7;   /* Light Melon Orange */

    border-radius:30px;

    text-align:center;

    padding:80px;

    border:2px solid #FFE0B2;

}

.cta-box h2{

    font-size:48px;

    margin-bottom:20px;

    color:black;

}

.cta-box p{

    max-width:700px;

    margin:auto;

    line-height:1.9;

    margin-bottom:35px;

    color:#6D4C41;

}

.cta-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

/* Primary Button */

.donate-btn{

    padding:16px 34px;

    border:none;

    border-radius:50px;

    background:var(--primary);

    color:var(--white);

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.35s;

}

.donate-btn:hover{

    background:var(--primary-hover);

    transform:translateY(-3px);

}

/* Outline Button */

.volunteer-btn{

    padding:16px 32px;

    border-radius:50px;

    border:2px solid var(--primary);

    background:transparent;

    color:var(--primary);

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    transition:.35s;

}

.volunteer-btn:hover{

    background:var(--primary);

    color:var(--white);

}